a,
h1,
h2,
h3,
h4,
h5,
h6,
img,
p {
	margin: 0;
	padding: 0;
}

/*text element +tops*/
/*a+a,*/
a+h1,
a+h2,
a+h3,
a+h4,
a+h5,
a+h6,
a+img,
a+p,
a+ul,
blockquote+h1,
h1+a,
h1+h1,
h1+h2,
h1+h3,
h1+h4,
h1+h5,
h1+h6,
h1+img,
h1+p,
h1+ul,
h2+a,
h2+h1,
h2+h2,
h2+h3,
h2+h4,
h2+h5,
h2+h6,
h2+img,
h2+p,
h2+ul,
h3+a,
h3+blockquote,
h3+h1,
h3+h2,
h3+h3,
h3+h4,
h3+h5,
h3+h6,
h3+img,
h3+p,
h3+ul,
h4+a,
h4+h1,
h4+h2,
h4+h3,
h4+h4,
h4+h5,
h4+h6,
h4+img,
h4+p,
h4+ul,
h5+a,
h5+h1,
h5+h2,
h5+h3,
h5+h4,
h5+h5,
h5+h6,
h5+img,
h5+p,
h5+ul,
h6+a,
h6+h1,
h6+h2,
h6+h3,
h6+h4,
h6+h5,
h6+h6,
h6+img,
h6+p,
h6+ul,
img+a,
img+h1,
img+h2,
img+h3,
img+h4,
img+h5,
img+h6,
img+img,
img+p,
img+ul,
p+a,
p+blockquote,
p+h1,
p+h2,
p+h3,
p+h4,
p+h5,
p+h6,
p+img,
p+p,
p+ul,
picture+picture,
ul+a,
ul+h1,
ul+h2,
ul+h3,
ul+h4,
ul+h5,
ul+h6,
ul+img,
ul+p,
ul+ul {
	margin-top: $spacer;
}

h4+.ccm-block-page-list-wrapper,
p+.ccm-block-next-previous-wrapper,
{
	margin-top: 16px;
}
/*none text elements +tops*/
div+h1,
h1+div,
p+.ccm-custom-style-container,
h1+.ccm-custom-style-container,
h2+.ccm-custom-style-container,
h2+.ccm-block-page-list-wrapper,
h3+.ccm-custom-style-container,
h4+.ccm-custom-style-container,
h5+.ccm-custom-style-container,
h6+.ccm-custom-style-container,
.ccm-custom-style-container+.ccm-custom-style-container,
.ccm-custom-style-container+.row,
.ccm-custom-style-container+h3,
.ccm-image-slider-container+.row,
.row+.ccm-custom-style-container,
.ccm-custom-style-container+p,
.ccm-block-page-list-wrapper+div,
.row+p,
picture+.row,
picture+p,
p+.row,
h1+.row,
h2+.row,
h3+.row,
h4+.row,
h5+.row,
.row+h4,
.row+.row,
section+.row,
div+p,
div[class^="col-xs-"]+div[class^="col-xs-"], /* adds margin-top to any stacked columns */
div[class*="col-xs-"]+div[class*="col-xs-"] {
	margin-top: $spacer;
  @media only screen and (min-width: $md-breakpoint) {
    margin-top: 32px;
  }
}
/*removes +tops for bootstrap columns when not stacked*/
div[class*="col-xs-"]+div[class^="col-sm-"], div[class*="col-xs-"]+div[class*="col-sm-"] {
	@media only screen and (min-width: $sm-breakpoint) {
		margin-top: 0;
	}
}
.div[class*="col-xs-"]+div[class^="col-md-"], div[class*="col-xs-"]+div[class*="col-md-"] {
	@media only screen and (min-width: $md-breakpoint) {
		margin-top: 0;
	}
}
div[class*="col-xs-"]+div[class^="col-lg-"], div[class*="col-xs-"]+div[class*="col-lg-"] {
	@media only screen and (min-width: $lg-breakpoint) {
		margin-top: 0;
	}
}
div[class*="col-xs-"]+div[class^="col-xl-"], div[class*="col-xs-"]+div[class*="col-xl-"] {
	@media only screen and (min-width: $xl-breakpoint) {
		margin-top: 0;
	}
}

/*base global image settings for responsivenes*/
img {
	max-width: 100%;
	height: auto;
}

.mobile {
	@media only screen and (min-width: $lg-breakpoint) {
		display: none !important;
	}
}
.desktop {
	display: none;
	@media only screen and (min-width: $lg-breakpoint) {
		display: initial !important;
	}
}	
.hover {
	&:hover {
		cursor: hand;
		cursor: pointer;
	}
}
picture {
	/*display: inline-block;*/
}
