/* Custom styles that are loaded last to override anything in bootstrap */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Slab', serif;
$green: #0B592F;
$alphaGreen: rgba(11, 89, 47, 0.7);
$yellow: #D2B766;
$darkYellow: #DDC98C;
$lightYellow: #E9DBB3;
$gold: #BA871F;
$transparentGold: rgba(186, 135, 31, 0.8);
$lightGreen: #64825A;
$alphaBlack: rgba(0,0,0,0.7);
$alphaWhite: rgba(255,255,255,0.3);
$mainShadow: 0 0 $spacer $alphaBlack;
$mainTransition: all .25s ease-in-out;
html,body {
	background: url('../img/tile.svg') repeat center center;
}
body {
	overflow-x: hidden;
	&.withShowcase {
		@media only screen and (min-width: $md-breakpoint) {
			padding-top: $spacer;
		}
		@media only screen and (min-width: $lg-breakpoint) {
			padding-top: $spacer*2;
		}
	}
}
hr {
	border-top: 4px solid $green;
	margin: $spacer 0;
}
p {
	line-height: 1.25;
	font-family: $mainFont;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $secondaryFont;
}
h2 {
	font-size: 18px;
	text-align: center;
	display: block;
	margin-top: $spacer/2;
	font-weight: bold;
	@media only screen and (min-width: $xl-breakpoint) {
		text-align: left;
		font-size: 24px;
		margin-top: $spacer/4;
	}
}
.logo {
	text-align: center;
	img {
		display: block;
		margin: 0 auto;
		@media only screen and (min-width: $xl-breakpoint) {
			margin: 0;
			margin-right: $spacer;
		}
	}
	p {
		font-family: $secondaryFont;
		color: $yellow;
	}
}
header {
	background: $green;
	padding: $spacer 0;
	color: #FFF;
}
main {
	position: relative;
	padding: $spacer 0;
	.container {
		position: relative;
		z-index: 3;
	}
	@media only screen and (min-width: $xl-breakpoint) {
		padding: $spacer*2 0;
		margin-bottom: -64px;
	}
}
footer {
	background: $green;
	color: #FFF;
	padding: $spacer 0;
	position: relative;
	z-index: 2;
	@media only screen and (min-width: $xl-breakpoint) {
		padding: $spacer*4 0;
	}
	hr {
		border-color: $yellow;
		box-shadow: $mainShadow;
		@media only screen and (min-width: $xl-breakpoint) {
			margin: 0 0 $spacer*2;
		}
	}
	p.copyright {
		margin-top: $spacer;
		font-family: $secondaryFont;
		@media only screen and (min-width: $xl-breakpoint) {
			margin-top: $spacer*2;
		}
		color: $lightGreen;
		a {
			color: $lightGreen;
		}
	}
}
.icon-text {
	a {
		color: #FFF;
		img {
			display: block;
		}
	}
	p {
		margin: 0 0 0 $spacer/2;
	}
	a+a {
		margin-top: $spacer;
	}
}
.client-login {
	background: $gold;
	box-shadow: $mainShadow;
	padding: $spacer/1.5 $spacer/1.5;
	h1 {
		font-size: 24px;
		font-family: $secondaryFont;
		color: #FFF;
	}
	h1+input,input+div {
		margin-top: $spacer;
	}
}
input {
	background: $yellow;
	border: none;
	width: 100%;
	color: #FFF;
	padding: 4px 8px;
	&:focus, &:active {
		outline: 1px solid #FFF;
	}
}
::-webkit-input-placeholder {
	color: $gold;
	text-transform: uppercase;
}
:-moz-placeholder {
	color: $gold;
	opacity:  1;
}
::-moz-placeholder {
	color: $gold;
	opacity:  1;
}
:-ms-input-placeholder {
	color: $gold;
}
:placeholder-shown {
	color: $gold;
}
button {
	&.arrows {
		background: url('../img/arrows.svg') no-repeat center center / contain;
		width: 32px;
		height: 32px;
		border: none;
		margin-left: $spacer/2;
		&:active, &:focus, &:hover {
			outline: none;
			border: none;
			opacity: .5;
		}
	}
	&.search {
		background: url('../img/search.svg') no-repeat center center / contain;
		width: 32px;
		height: 32px;
		border: none;
		margin-left: $spacer/2;
		&:active, &:focus, &:hover {
			outline: none;
			border: none;
			opacity: .5;
		}
	}
}
.feature {
	box-shadow: $mainShadow;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	&.battery {
		background-image: url('../img/battery.jpg');
	}
	position: relative;
	color: #FFF;
	.feature-body {
		padding: $spacer;
		background: $alphaGreen;
		@media only screen and (min-width: $xl-breakpoint) {
			max-width: 50%;
			padding: $spacer*2;
			margin: 0 0 0 auto;
		}
		h1 {
			text-shadow: $mainShadow;
			display: block;
			text-align: center;
			@media only screen and (min-width: $xl-breakpoint) {
				text-align: left;
				font-size: 96px;
				margin-top: -$spacer;
			}
		}
		.inline {
			display: inline;
		}
		h2 {
			font-size: 18px;
			text-align: center;
			display: block;
			margin-top: $spacer/2;
			font-weight: bold;
			@media only screen and (min-width: $xl-breakpoint) {
				text-align: left;
				font-size: 24px;
				margin-top: 0;
			}
			span {
				&.p {
					font-size: 16px;
					font-family: $mainFont;
					display: block;
					font-weight: 300;
					@media only screen and (min-width: $xl-breakpoint) {
						display: inline;
					}
				}
				&.break {
					@media only screen and (min-width: $xl-breakpoint) {
						display: block;
					}
				}
			}
		}
		p {
			display: block;
			text-align: center;
			@media only screen and (min-width: $xl-breakpoint) {
				text-align: left;
			}
		}
	}
}
.searchBar {
	h2 {
		margin-bottom: $spacer/2;
		@media only screen and (min-width: $xl-breakpoint) {
			margin-bottom: 0;
			margin-right: $spacer;
		}
	}
}
nav {
	&.main-nav {
		> ul {
			text-align: center;
			padding: 0;
			margin: 0;
			@media only screen and (min-width: $lg-breakpoint) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			li {
				&+li {
					a {
						border-top: 1px solid $gold;
						@media only screen and (min-width: $lg-breakpoint) {
							border: none;
						}
					}
					@media only screen and (min-width: $lg-breakpoint) {
						&::before {
							content: '|';
							color: $yellow;
						}
					}
					>ul {
						@media only screen and (min-width: $lg-breakpoint) {
							width: calc(272px - 4px);
							left: 4px;
						}
					}
				}
				@media only screen and (min-width: $lg-breakpoint) {
					display: flex;
					align-items: center;
					flex-direction: row;
					justify-content: space-around;
					flex: 1 0 auto;
				}
				display: block;
				a {
					display: block;
					line-height: 1.15;
					color: #FFF;
					font-family: $secondaryFont;
					font-size: 24px;
					&:hover {
						background: $transparentGold;
						text-decoration: none;
					}
					@media only screen and (min-width: $lg-breakpoint) {
						font-size: 20px;
						padding: $spacer 0;
						width: 100%;
					}
				}
				position: relative;
				&:hover {
					>a:nth-child(1) {
						background: $transparentGold;
					}
					>ul {
						max-height: 1000px;
						opacity: 1;
					}
				}
				>ul {
					display: none;
					@media only screen and (min-width: $lg-breakpoint) {
						display: block;
						position: absolute;
						background: $transparentGold;
						z-index: +10;
						top: 39px;
						width: 272px;
						left: 0;
						max-height: 0;
						overflow: hidden;
						transition: opacity .39s ease-in-out, max-height .61s ease-in-out;
						opacity: 0;
						text-align: left;
						a {
							text-align: left;
							padding: $spacer;
						}
					}
					li {
						&::before {
							display: none;
						}
						a {
						}
					}
				}
			}
		}
	}
}
.goldBucket {
	box-shadow: $mainShadow;
	background-color: #000;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	&.docks {
		background-image: url('../img/dock.jpg');
	}
	&.lab {
		background-image: url('../img/lab.jpg');
	}
	&.construction-site {
		background-image: url('../img/construction-site.jpg');
	}
	&.water {
		background-image: url('../img/water.jpg');
	}
	.goldBucket-body {
		background: $transparentGold;
		transition: $mainTransition;
		padding: $spacer;
		h2 {
			color: #FFF;
			display: block;
			text-align: center;
			font-size: 32px;
		}
		p {
			color: #FFF;
			text-align: center;
			display: block;
			max-height: 0;
			overflow: hidden;
			transition: $mainTransition;
			padding: 0 $spacer*2;
			height: 200px;
		}
	}
	@media only screen and (min-width: $md-breakpoint) {
		min-height: 322px;
		display: flex;
		align-items: flex-end;
		.goldBucket-body {
			h2 {
				min-height: 70px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&:hover {
		cursor: hand;
		cursor: pointer;
		.goldBucket-body {
			background: $gold;
		}
		@media only screen and (min-width: $md-breakpoint) {
			p {
				max-height: 400px;
			}
		}
	}
}
.container.spacer {
	.goldBucket {
		margin-top: $spacer;
	}
	@media only screen and (min-width: $xl-breakpoint) {
		.goldBucket {
			margin-top: 0;
		}
		padding-top: $spacer*2;
	}
}
.showcase {
	#pager {
		span {
			a {
				position: absolute;
				bottom: -56px;
				color: #FFF;
			}
			width: 143px;
			height: 143px;
			display: inline-block;
			border: 3px solid #FFF;
			color: rgba(0,0,0,0);
			background: #000;
			opacity: 1;
			background-size: cover;
			background-position: center center;
			margin: $spacer/2;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: $alphaWhite;
				opacity: 0;
				transition: $mainTransition;
			}
			&.cycle-pager-active, &:hover {
				&::after {
					opacity: 1;
				}
				cursor: hand;
				cursor: pointer;
			}
		}
		display: none;
		@media only screen and (min-width: $xl-breakpoint) {
			position: absolute;
			bottom: 8%;
			right: 5%;
			z-index: 2000;
			display: block;
		}
	}
	.link-belt {
		background-image: url('../img/link-belt.jpg') !important;
	}
	.pipeline {
		background-image: url('../img/pipeline.jpg') !important;
	}
	.dam {
		background-image: url('../img/dam.jpg') !important;
	}
	.big-dam {
		background-image: url('../img/big-dam.jpg') !important;
	}
	.cycle-slideshow {
		padding: 0;
		margin: 0;
		list-style: none;
		@media only screen and (min-width: $md-breakpoint) {
			padding-top: 377px;
		}
		@media only screen and (min-width: 768px) {
			padding-top: 329px;
		}
		@media only screen and (min-width: $lg-breakpoint) {
			padding-top: 272px;
		}
		@media only screen and (min-width: 992px) {
			padding-top: 176px;
		}
		@media only screen and (min-width: $xl-breakpoint) {
			padding-top: 0;
		}
		li {
			position: relative;
			width: 100%;
		}
		.caption {
			@media only screen and (min-width: $md-breakpoint) {
				position: absolute;
				left: 0;
				width: 100%;
				bottom: 0;
			}
			position: relative;
			.controls {
				display: none;
				@media only screen and (min-width: $xl-breakpoint) {
					div {
						opacity: 1;
						transition: $mainTransition;
						&:hover {
							cursor: hand;
							cursor: pointer;
							opacity: .75;
						}
					}
					display: block;
					position: absolute;
					width: 100%;
					z-index: 15;
					height: 162px;
					.prev {
						position: absolute;
						left: -54px;
						top: 50%;
						transform: translateY(-50%);
					}
					.next {
						position: absolute;
						right: -54px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			background: $alphaGreen;
			color: #FFF;
			padding: $spacer;
			text-align: center;
			position: relative;
			z-index: 10;
			h2 {
				margin-top: 0 !important;
			}
			@media only screen and (min-width: $xl-breakpoint) {
				border-top: 3px solid $gold;
				&::before {
					content: '';
					width: 100%;
					height: calc(100% + 3px);
					background: $gold;
					position: absolute;
					top: -3px;
					left: -100%;
					border-bottom: 1px solid $alphaGreen;
					border-image: url('../img/tileGreen.svg') 10 round;
					border-width: 0 0 8px 0;
				}
				&::after {
					content: '';
					width: 100%;
					height: calc(100% + 3px);
					background: $gold;
					position: absolute;
					top: -3px;
					right: -100%;
					border-bottom: 1px solid $alphaGreen;
					border-image: url('../img/tileGreen.svg') 10 round;
					border-width: 0 0 8px 0;
				}
				padding: 0;
			}
			.caption-body {
				padding: $spacer;
				border: 1px solid $gold;
				@media only screen and (min-width: $xl-breakpoint) {
					padding: 0;
					border: none;
					text-align: left;
					position: relative;
					&::before {
						content: '';
						width: 100%;
						/*height: calc(100% + 3px);*/
						height: calc(100% - 4px);
						position: absolute;
						top: 0;
						left: 0;
						background: url('../img/goldCorner.svg') no-repeat top -2px left / contain;
					}
					&::after {
						content: '';
						width: 100%;
						/*height: calc(100% + 3px);*/
						height: calc(100% - 4px);
						position: absolute;
						top: 0;
						right: 0;
						background: url('../img/goldCorner.svg') no-repeat top -2px left / contain;
						transform:scaleX(-1);
					}
					.caption-body-content {
						padding: $spacer*2 $spacer*4;
						position: relative;
						z-index: +10;
						max-width: 620px;
					}
				}
			}
		}
		.image {
			width: 100%;
			background: #000;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@media only screen and (min-width: $md-breakpoint) {
				position: relative;
				padding-bottom: 56.5%;
			}
		}
	}
	.client-login {
		h1 {
			margin-left: 0 !important;
			font-size: 24px !important;
		}
		@media only screen and (min-width: $lg-breakpoint) {
			margin-bottom: -50px;
		}
	}
	.ribbon {
		padding: $spacer/2;
		background: $yellow;
		color: $green;
		text-align: center;
		text-transform: uppercase;
		p {
			font-family: $secondaryFont;
			font-size: 12px;
		}
	}
	.container {
		position: relative;
		@media only screen and (min-width: $md-breakpoint) {
			padding: 0;
		}
	}
	@media only screen and (min-width: $md-breakpoint) {
		padding-top: 48px;
	}
	.header {
		padding: $spacer;
		background: $alphaGreen;
		text-align: center;
		position: relative;
		z-index: 1900;
		img {
			-webkit-filter: drop-shadow($mainShadow);
			filter: drop-shadow($mainShadow);
		}
		h1 {
			color: #FFF;
			font-size: 32px;
			line-height: 1.5;
			font-weight: 800;
			@media only screen and (min-width: $xl-breakpoint) {
				text-align: left;
				margin-left: 230px;
				margin-top: 0;
			}
		}
		@media only screen and (min-width: $xl-breakpoint) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			img {
				position: absolute;
				left: 0;
				top: -46px;
			}
		}
	}
}
.pre-footer {
	width: 100%;
	height: 426px;
	border-top: 3px solid $gold;
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	@media only screen and (min-width: $md-breakpoint) {
		display: block;
	}
}
.gradientStyle {
	@include gradient-y($darkYellow, $lightYellow, 0%, 50%);
}
