/* Custom styles that are loaded last to override anything in bootstrap */
$alphaBlack: rgba(0,0,0,0.7);
$alphaWhite: rgba(255,255,255,0.3);
$mainShadow: 0 0 $spacer $alphaBlack;
$mainTransition: all .25s ease-in-out;
body {
}
